
<div class="table-responsive">
    <h2 style="margin-left: 3vw;">Student Records</h2>
    <table class="table table-hover table-nowrap">
        <thead class="thead">
            <tr>
                <th scope="col">Student ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Year Level</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of paginatedStudents">
                <td>{{student.studentID}}</td>
                <td>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.yearLevel}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>

<div class="text-center">
    <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="pageChanged(currentPage - 1)" >Previous</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages()">
            <a class="page-link" (click)="pageChanged(currentPage + 1)">Next</a>
        </li>
    </ul>
</div>
<br>
<br>