/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");



.body{
top: 10vh;
position: relative;
width: 100vw;
}
.div{
    left: 0vw;
    position: relative;
}

.main-body{
    top: 15vh;
    position: relative;
    width: 80vw;
}